@charset 'utf-8';
body {
    width: 768px;
    height: 576px;
    background-repeat: no-repeat;
    /* フォント */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* img{
    width: 100vw;
    height: auto;
} */
#wholePage {
    transform-origin: left bottom;
    width: 768px;
    height: 576px;
    background-repeat: no-repeat;
}

#rightShadow {
    background: linear-gradient(90deg, rgb(97, 97, 97), rgb(252, 252, 252));
    mix-blend-mode: multiply;
    width: 40px;
    height: 576px;
    float: left;
}

#pageRightGrade {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: left bottom;
    left: 350px;
    width: 120px;
    height: 576px;
    background: linear-gradient(90deg, rgb(158 158 158), rgb(255 255 255), rgb(158 158 158));
    mix-blend-mode: lighten;
    opacity: 0;
}

#pageLeftGrade {
    transform-origin: right center;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 658px;
    width: 120px;
    height: 576px;
    background: linear-gradient(90deg, rgb(255 255 255), rgb(158 158 158));
    mix-blend-mode: multiply;
    opacity: 0;
}

input#turnOverButton {
    box-shadow: 0px 0px;
    position: absolute;
    transform-origin: right bottom;
    top: 500px;
    left: 691px;
    width: 75px;
    height: 75px;
    background: linear-gradient(-45deg, white 40% 0, gray 60%, white 20%);
    border: 0 none;
    opacity: 0;
}

input#pageLowerRightBtn {
    box-shadow: 0px 0px;
    position: absolute;
    transform-origin: right bottom;
    top: 500px;
    left: 691px;
    width: 75px;
    height: 75px;
    border: 0 none;
    background-color: blue;
    opacity: 0;
}

input#leaveButton {
    box-shadow: 0px 0px;
    position: absolute;
    transform-origin: right bottom;
    top: 427px;
    left: 620px;
    width: 150px;
    height: 150px;
    border: 0 none;
    background-color: red;
    opacity: 0;
}

.pageAll {
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    height: 576px;
    background-image: url('/paper.22d0dd79.png');
}

#page3CharacterIntroduction {
    background-image: url('/introductionbackground.b77f180f.png');
}

/* すべてのページのタイトル */

.headTitle {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40px
}

.pageAll h2 {
    display: inline-block;
    border-bottom: double 4px black;
    border-top: double 4px black;
}

/* タイトルの装飾 */

.headingDecorationLeft {
    height: 50px;
    width: 28px;
    background-image: url('/titledesign.8ba0f69b.png');
    margin-bottom: -15px;
    display: inline-block;
}

.headingDecorationRight {
    height: 50px;
    width: 28px;
    background-image: url('/titledesign.8ba0f69b.png');
    transform: scale(-1, 1);
    margin-bottom: -15px;
    display: inline-block;
}

/* 戻るボタン */

#backButton {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: none;
    background: none;
    position: absolute;
    left: 150px;
    top: 15px;
}

#backButton:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#indexButton {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: none;
    background: none;
    position: absolute;
    left: 50px;
    top: 15px;
    font-size: 1em;
}

#indexButton:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

/* ポップウィンドウ */

.popWindow{
    display: inline-block;
    position: absolute;
    width: 506px;
    height: 393px;
    top: 92px;
    left: 132px;
    z-index: 1;
    background-image: url('/popbackground.2f320108.png');
    background-repeat: no-repeat;
}
.firstPlayText{
    text-align: left!important;
    display: inline-block;
    width: 420px;
    height: 280px;
    position: absolute;
    top: 40px;
    left: 45px;
}
.firstPlayTextClickButton{
    display: inline-block;
    position: absolute;
    top: 280px;
    left: 35px;
}

.firstPlayTextClickButton:hover{
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}
#alreadyPlay0Cover {
    display: inline-block;
    width: 420px;
    height: 280px;
    position: absolute;
    top: 40px;
    left: 45px;
}

#alreadyPlayTextBlock {
    position: absolute;
    top: 240px;
    left: 0px;
    width: 420px;
    text-align: center;
}

.alreadyPlayText {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 0;
}

.alreadyPlayText:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

/* １ページ目目次 */

#page1Index {
    text-align: center;
}

#tableOfContents {
    margin-top: 150px;
}

#indexPage2:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#indexPage3:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#indexPage4:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#indexPage5:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#indexPage6:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#page1Index button {
    font-size: 1.1em;
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 180px;
    margin-top: 20px;
}

/* ２ページ目序章 */

.page2IntroductionElement {
    position: absolute;
    color: black;
    -webkit-text-stroke: 0.4px black;
}

#page2IntroductionImgTree {
    top: 58px;
    left: 57px;
}

#page2IntroductionImgFruit {
    top: 215.5px;
    left: 270px;
}

#page2IntroductionImgMell {
    top: 304px;
    left: 84px;
}

#page2IntroductionImgWitch {
    top: 304px;
    left: 470px;
}

#page2IntroductionImgTitle {
    top: 0px;
    left: 0px;
}

#page2Introduction p {
    text-align: center;
    margin-top: 15px;
    font-size: 1em;
}

#introductionText1 {
    position: absolute;
    top: 100px;
    left: 300px;
    -webkit-text-stroke: 0.2px white;
}

#introductionText2 {
    position: absolute;
    top: 240px;
    left: 70px;
    -webkit-text-stroke: 0.2px white;
}

#introductionText3 {
    position: absolute;
    top: 240px;
    left: 450px;
    -webkit-text-stroke: 0.2px white;
}

#introductionText4 {
    position: absolute;
    top: 480px;
    left: 80px;
    -webkit-text-stroke: 0.2px white;
}

#introductionText5 {
    position: absolute;
    top: 480px;
    left: 440px;
    -webkit-text-stroke: 0.2px white;
}

/* 3ページ目 */

#CharacterIntroductionMel {
    position: absolute;
    top: 157px;
    left: 72px;
}

#CharacterIntroductionKnight {
    position: absolute;
    top: 420px;
    left: 51px;
}

#CharacterIntroductionDame {
    position: absolute;
    top: 110px;
    left: 190px;
}

#CharacterIntroductionWitch {
    position: absolute;
    top: 175px;
    left: 394px;
}

#CharacterIntroductionGolem {
    position: absolute;
    top: 55px;
    left: 334px;
}

#CharacterIntroductionRockspider {
    position: absolute;
    top: 357px;
    left: 403px;
}

#CharacterIntroductionTextBox {
    position: absolute;
    top: 128px;
    left: 63px;
    margin: 0;
}

#CharacterIntroductionText {
    display: inline-block;
    position: absolute;
    width: 246px;
    height: 336px;
    background-color: white;
    top: 164px;
    left: 88px;
    z-index: 1;
}

#CharacterIntroductionText p {
    position: relative;
    margin-top: 0px;
    margin-left: 4px;
    line-height: 180%;
    z-index: 2;
}

#CharacterIntroductionText h3 {
    position: relative;
    text-align: center;
    margin: 6px;
    z-index: 2;
}

/* 4ページ目ゲームの遊び方 */

#howToPlayImage {
    position: absolute;
    top: 131px;
    left: 128px;
    text-align: center;
}

#howToPlayTextBlock {
    position: absolute;
    top: 480px;
    left: 155px;
    text-align: center;
}

.howToPlayText {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

#howToPlayText1:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#howToPlayText2:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#howToPlayText3:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

/* 5ページ目ゲームプレイ */

#playGameTitle {
    position: absolute;
    width: 768px;
    height: 576px;
    text-align: center;
    margin-top: 110px;
}

#playGameTitle p {
    margin: 20px;
}
/* ゲーム前のポップアップ */
#playGameMelStatus{
    position: absolute;
    width: 146px;
    height: 211px;
    left: 0px;
    top: -15px;
}
#playGameWitchStatus{
    position: absolute;
    width: 146px;
    height: 211px;
    left: 310px;
    top: 42px;
}

.howManySpirit{
    display: inline-block;
    position: absolute;
    top: 336px;
    left:120px;
}
.howManyGolem{
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 336px;
    left: 550px;
}


#gameData {
    position: absolute;
    width: 768px;
    height: 576px;
    text-align: center;
    top: 500px;
    display: block;
}

#gameData:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame1:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame2:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame3:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame4:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame5:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame6:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame7:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame8:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGame9:hover {
    color: transparent;
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
}

#playGameImageBackground {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

#playGameText {
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    height: 576px;
    background-image: url(/background2.5ab42649.png);
}

#playGameImage1 {
    position: absolute;
    left: 430px;
    top: 65px;
}

#playGameImage2 {
    position: absolute;
    left: 70px;
    top: 220px;
}

#playGameImage3 {
    position: absolute;
    left: 430px;
    top: 390px;
}

.playGametext1 {
    position: absolute;
    left: 90px;
    top: 65px;
    width: 300px;
    height: 150px;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: black;

}

.playGametext2 {
    position: absolute;
    left: 430px;
    top: 220px;
    width: 300px;
    height: 150px;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: black;

}

.playGametext3 {
    position: absolute;
    left: 70px;
    top: 390px;
    width: 300px;
    height: 150px;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: black;

}

/* 6ページ目奥付 */

#imprintText {
    position: absolute;
    margin-left: 50px;
    margin-top: 250px;
}

/* ゲーム画面 */

#gameScreen {
    image-rendering: pixelated;
    position: absolute;
    width: 768px;
    height: 576px;
    left: 0;
    top: 0;
    z-index: 1;
}

/*# sourceMappingURL=/style.e308ff8e.css.map */